@page
@model ProvaGuilherme.Pages.CadastroPessoaModel
@{
    ViewData["Title"] = "CadastroPessoa";
}

<h2>CadastroPessoa</h2>

<div style="margin:auto; width:50%">
    <form method="post">
        <div class="form-group">

            <label for="txtNome">Nome</label>
            <input type="text" id="txtNome" name="Nome" class="form-control" />

            <label for="txtSobrenome">Sobrenome</label>
            <input type="text" id="txtSobrenome" name="Sobrenome" class="form-control" />

            <label for="txtEmail">E-mail</label>
            <input type="text" id="txtEmail" name="Email" class="form-control" />

            <label for="txtTelefone">E-mail</label>
            <input type="text" id="txtTelefone" name="Nome" class="form-control" />
            <input type="text" id="txtNome" name="Nome" class="form-control" />
            <input type="text" id="txtNome" name="Nome" class="form-control" />
            <input type="text" id="txtNome" name="Nome" class="form-control" />
            <input type="text" id="txtNome" name="Nome" class="form-control" />
            <input type="text" id="txtNome" name="Nome" class="form-control" />
            <input type="text" id="txtNome" name="Nome" class="form-control" />
            <input type="text" id="txtNome" name="Nome" class="form-control" />


        </div>
    </form>
</div>
