@page
@model ProvaGuilherme.Pages.CadastroEnderecoModel
@{
    ViewData["Title"] = "CadastroEndereco";
}

<h2>CadastroEndereco - 2</h2>
<form method="post">
    <select name="Pessoa">
        @foreach (var item in CadastroPessoaModel.ListaPessoas)
        {
            <option value="@item.Nome">@item.Nome</option>
        }
    </select>

    <br />

    <select name="Estado">
        <option value="parana"></option>
        <option value="sao paulo"></option>
        <option value="rio de janeiro"></option>
    </select>

    <br />

    <select name="Cidade">
        <option value="curitiba"></option>
        <option value="sao paulo"></option>
        <option value="rio de janeiro"></option>
    </select>

    <label for="txtCEP">CEP</label>
    <input type="text" id="txtCEP" name="CEP" class="form-control" />

    <label for="txtRua">Rua</label>
    <input type="text" id="txtNome" name="Rua" class="form-control" />

    <label for="txtBairro">Bairro</label>
    <input type="text" id="txtBairro" name="Bairro" class="form-control" />

    <label for="txtNumero">Numero</label>
    <input type="text" id="txtNumero" name="Numero" class="form-control" />

    <label for="txtComplemento">Complemento</label>
    <input type="text" id="txtComplemento" name="Complemento" class="form-control" />

    <input type="submit" value="Terminar!" />

</form>

