@page
@model ProvaGuilherme.Pages.CadastroPessoaModel
@{
    ViewData["Title"] = "CadastroPessoa";
}

<h2>CadastroPessoa - 1</h2>

<div style="margin:auto; width:50%">
    <form method="post">
        <div class="form-group">

            <label for="txtNome">Nome</label>
            <input type="text" id="txtNome" name="Nome" class="form-control" />

            <label for="txtSobrenome">Sobrenome</label>
            <input type="text" id="txtSobrenome" name="Sobrenome" class="form-control" />

            <label for="txtEmail">E-mail</label>
            <input type="text" id="txtEmail" name="Email" class="form-control" />

            <label for="txtTelefone">Telefone</label>
            <input type="text" id="txtTelefone" name="Telefone" class="form-control" />

            <label for="txtNomePai">Nome do pai</label>
            <input type="text" id="txtNomePai" name="NomePai" class="form-control" />

            <label for="txtNomeMae">Nome do mãe</label>
            <input type="text" id="txtNomeMae" name="NomeMae" class="form-control" />

            <label for="txtCPF">CPF</label>
            <input type="text" id="txtCPF" name="CPF" class="form-control" />

            <label for="txtRG">RG</label>
            <input type="text" id="txtRG" name="RG" class="form-control" />

            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Option one is this and that&mdash;be sure to include why it's great
                </label>
            </div>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
                    Option two can be something else and selecting it will deselect option one
                </label>
            </div>
            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                    Option three is disabled
                </label>
            </div>
            @* 10 ComboBox RadioButton/ 8 DropDown/ 4 --  *@
            @* List e mostra pagina branco / preencher formulario cshtml para imprimir / informar a baixo do formulario*@
        </div>
    </form>
</div>
