@page
@model ProvaGuilherme.Pages.MenuModel
@{
    ViewData["Title"] = "Menu";
}

<h2>Menu</h2>

<div class="row">
    <div class="col-md-3">
        <h2>Application uses</h2>
        <ul>
            <li>Formulario 1:<a asp-page="/CadastroPessoa">Cadastras pessoa</a></li>
            <li>Formulario 2:<a asp-page="/CadastroEndereco">Cadastrar endereco</a></li>
            <li>Formulario 3:<a asp-page="/CadastroDetalhes">Cadastrar detalhes</a></li>

        </ul>
    </div>
</div>


