@page
@model ProvaGuilherme.Pages.ResultadoPessoaModel
@{
    ViewData["Title"] = "ResultadoPessoa";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>ResultadoPessoa</h2>

@foreach(var item in CadastroPessoaModel.ListaPessoas)
{
    <label>Nome: @item.Nome</label>
}

